<h2 class="text-center">Listado De Empleados</h2>
<hr />

<div class="row">
  <div class="col text-right">
    <button class="btn btn-primary" routerLink="/empleado/nuevo">
      <i class="fa fa-plus"></i>
      Agregar
    </button>
  </div>
</div>

<table *ngIf="!cargando && empleados.length > 0" class="table mt-3 animated fadeIn faster">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Fecha Ingreso</th>
      <th scope="col">Fecha Egreso</th>
      <th scope="col">Estado</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados; let i = index">
      <th scope="row"> {{ i + 1 }} </th>
      <td> {{ empleado.nombreUno }} </td>
      <td> {{ empleado.apellidoUno }} </td>
      <td> {{ empleado.fechaIngreso }} </td>
      <td> {{ empleado.fechaEgreso }} </td>
      <td> {{ empleado.estado }} </td>
      <td>
        
        <button type="button" class="btn btn-info mr-2"
                [routerLink]="['/empleado', empleado.id]">
          <i class="fa fa-pen"></i>
        </button> 

        <button type="button" class="btn btn-danger"
                (click)="deleteEmpleado(empleado, i)">
          <i class="fa fa-trash"></i>
        </button> 

      </td>
    </tr>

  </tbody>
</table>

<div *ngIf="!cargando && empleados.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
  <h4 class="alert-heading">No Hay Registros</h4>
  <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
</div>

<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">Espere Por Favor</p>
</div>