<h2 class="text-center">Registro De Empleado</h2>
<hr/>

<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger"
            routerLink="/empleados">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<div class="row animated fadeIn faster">
  <div class="col">

    <form (ngSubmit)="guardar()"
          [formGroup]="forma"
          novalidate>

      <div class="form-group">
        <label> ID </label>
        <input type="text"
               class="form-control"
               placeholder="ID Base de Datos"
               formControlName="id">
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>

      <div class="row">
        <div class="form-group col">
          <label><strong> Primer Nombre: </strong></label>
          <input type="text"
                 class="form-control"
                 placeholder="1er Nombre del empleado"
                 formControlName="nombreUno"
                 [class.is-invalid]="checkCampoOk('nombreUno')">
                 <div *ngIf="nombreUnoNoValido.errors && nombreUnoNoValido.touched" class="text-danger">
                  <p *ngIf="nombreUnoNoValido.hasError('required')" class="text-danger">
                    Es un campo requerido
                  </p>
                  <p *ngIf="nombreUnoNoValido.hasError('minlength')" class="text-danger">
                    Mínimo Tres Caracteres
                  </p>
                  <p *ngIf="nombreUnoNoValido.hasError('pattern')" class="text-danger">
                    Debe Ingresar Solo Letras
                  </p>
                </div>
    
        </div>
        
        <div class="form-group col">
          <label><strong> Segundo Nombre: </strong></label>
          <input type="text"
                 class="form-control"
                 placeholder="2do Nombre del empleado"
                 formControlName="nombreDos">
        </div>
      </div>

      
      <div class="row">
        <div class="form-group col">
          <label><strong> Primer Apellido: </strong></label>
          <input type="text"
                 class="form-control"
                 placeholder="1er Apellido del empleado"
                 formControlName="apellidoUno"
                 [class.is-invalid]="checkCampoOk('apellidoUno')">
                 <div *ngIf="apellidoUnoNoValido.errors && apellidoUnoNoValido.touched" class="text-danger">
                  <p *ngIf="apellidoUnoNoValido.hasError('required')" class="text-danger">
                    Es un campo requerido
                  </p>
                  <p *ngIf="apellidoUnoNoValido.hasError('minLength')" class="text-danger">
                    Mínimo Tres Caracteres
                  </p>
                  <p *ngIf="apellidoUnoNoValido.hasError('pattern')" class="text-danger">
                    Debe Ingresar Solo Letras
                  </p>
                </div>
        </div>
  
        <div class="form-group col">
          <label><strong> Segundo Apellido: </strong></label>
          <input type="text"
                 class="form-control"
                 placeholder="2do Apellido del empleado"
                 formControlName="apellidoDos">
        </div>
      </div>

      <div class="form-group">
        <label><strong> Dirección Habitación: </strong></label>
        <input type="text"
               class="form-control"
               placeholder="Dirección Habitación del empleado"
               formControlName="direccion"
               [class.is-invalid]="checkCampoOk('direccion')">
               <div *ngIf="direccionNoValida.errors && direccionNoValida.touched" class="text-danger">
                <p *ngIf="direccionNoValida.hasError('required')" class="text-danger">
                  Es un campo requerido
                </p>
                <p *ngIf="direccionNoValida.hasError('minLength')" class="text-danger">
                  Debe Ingresar Un Mínimo De Caracteres
                </p>                
              </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label><strong> Correo Electrónico: </strong></label>
          <input type="email"
                 class="form-control"
                 placeholder="Correo Electrónico del empleado"
                 formControlName="correo"
                 [class.is-invalid]="checkCampoOk('correo')">
                 <div *ngIf="correoNoValido.errors && correoNoValido.touched" class="text-danger">
                  <p *ngIf="correoNoValido.hasError('required')" class="text-danger">
                    Es un campo requerido
                  </p>
                  <p *ngIf="correoNoValido.hasError('pattern')" class="text-danger">
                    Formato De Correo No Válido (Ej: mail@mail.com)
                  </p>                
                </div>
        </div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label><strong> Número Teléfono Celular: </strong></label>
          <input type="tel"
                 class="form-control"
                 placeholder="Número de celular del empleado"
                 formControlName="tlfCelular"
                 [class.is-invalid]="checkCampoOk('tlfCelular')">
                 <div *ngIf="tlfCelularNoValido.errors && tlfCelularNoValido.touched" class="text-danger">
                  <p *ngIf="tlfCelularNoValido.hasError('required')" class="text-danger">
                    Es un campo requerido
                  </p>
                  <p *ngIf="tlfCelularNoValido.hasError('minLength')" class="text-danger">
                    Debe Ingresar La Longitud De Un Teléfono Correcto
                  </p>                
                  <p *ngIf="tlfCelularNoValido.hasError('pattern')" class="text-danger">
                    Debe Ingresar Solo Números (Ej: 0424-5554433)
                  </p>                
                </div>
        </div>
  
        <div class="form-group col">
          <label><strong> Número Teléfono Casa: </strong></label>
          <input type="text"
                 class="form-control"
                 placeholder="Número teléfono casa del empleado"
                 formControlName="tlfCasa"
                 [class.is-invalid]="checkCampoOk('tlfCasa')">
                 <div *ngIf="tlfCasaNoValido.errors && tlfCasaNoValido.touched" class="text-danger">                
                  <p *ngIf="tlfCasaNoValido.hasError('required')" class="text-danger">
                    Es Un Campo Requerido
                  </p>                
                  <p *ngIf="tlfCasaNoValido.hasError('pattern')" class="text-danger">
                    Debe Ingresar Solo Números (Ej: 0273-5554433)
                  </p>                
                </div>

        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label><strong> En caso de Emergencia LLamar A: </strong></label>
          <input type="text"
                 class="form-control"
                 placeholder="Nombre Familiar a Contactar"
                 formControlName="casoEmergencia"
                 [class.is-invalid]="checkCampoOk('casoEmergencia')">
                 <div *ngIf="casoEmergenciaNoValido.errors && casoEmergenciaNoValido.touched" class="text-danger">
                  <p *ngIf="casoEmergenciaNoValido.hasError('required')" class="text-danger">
                    Es un campo requerido
                  </p>
                  <p *ngIf="casoEmergenciaNoValido.hasError('minLength')" class="text-danger">
                    Debe Ingresar Un Nombre Correcto
                  </p>                
                  <p *ngIf="casoEmergenciaNoValido.hasError('pattern')" class="text-danger">
                    Debe Ingresar Solo Letras
                  </p>                
                </div>
        </div>
        <div class="form-group col">
          <label><strong> Número Telefónico de Emergencia: </strong></label>
          <input type="text"
                 class="form-control"
                 placeholder="Número de Contacto del Familiar a Contactar"
                 formControlName="numEmergencia"
                 [class.is-invalid]="checkCampoOk('numEmergencia')">
                 <div *ngIf="numEmergenciaNoValido.errors && numEmergenciaNoValido.touched" class="text-danger">
                  <p *ngIf="numEmergenciaNoValido.hasError('required')" class="text-danger">
                    Es un campo requerido
                  </p>
                  <p *ngIf="numEmergenciaNoValido.hasError('minLength')" class="text-danger">
                    Debe Ingresar Un Nombre Correcto
                  </p>                
                  <p *ngIf="numEmergenciaNoValido.hasError('pattern')" class="text-danger">
                    Debe Ingresar Solo Números (Ej: 0424-5554433 - 0273-5554433)
                  </p>                
                </div>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group col">
          <label ><strong> Fecha de Ingreso: </strong></label>
          <input type="date"
                 class="form-control"
                 placeholder="Fecha de ingreso"
                 formControlName="fechaIngreso"
                 [class.is-invalid]="checkCampoOk('fechaIngreso')">
                 <div *ngIf="fechaIngresoNoValido.errors && fechaIngresoNoValido.touched" class="text-danger">
                  <p *ngIf="fechaIngresoNoValido.hasError('required')" class="text-danger">
                    Es un campo requerido
                  </p>                                 
                </div>
        </div>
  
        <div class="form-group col">
          <label><strong> Fecha de Egreso: </strong></label>
          <input type="date"
                 class="form-control"
                 placeholder="Fecha de egreso"
                 formControlName="fechaEgreso">
        </div>
      </div>

      <div class="form-group">
        <label><strong> Estado: </strong></label>
        <select class="custom-select form-control" formControlName="estado">
          <option value="Activo"> Activo </option>
          <option value="Vacaciones"> Vacaciones </option>
          <option value="Licencia"> Licencia </option>
          <option value="Inactivo"> Inactivo </option>
        </select>
      </div>

      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Cargar Fotografía</label>
      </div>
      
      <div class="form-group text-center" [formGroup]="forma">
        <button *ngIf="!empleado.id" class=" btn btn-outline-primary btn-lg mt-5 mr-4" type="submit">
          <i class="fa fa-save"></i>
          Guardar
        </button>

        <button *ngIf="empleado.id" class=" btn btn-outline-success btn-lg mt-5" type="submit">
          <i class="fa fa-save"></i>
          Actualizar
        </button>
      </div>

    </form>

  </div>
</div>

