<h2 class="text-center">Registro De Empleado</h2>
<hr/>

<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger"
            routerLink="/empleados">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<div class="row animated fadeIn faster">
  <div class="col">

    
    <form (ngSubmit)="guardar()"
          [formGroup]="forma"
          novalidate>

      <div class="form-group">
        <label> ID </label>
        <input type="text"
               class="form-control"
               placeholder="ID Base de Datos"
               formControlName="id">
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>

      <div class="row">
        <div class="form-group col">
          <label><strong> Primer Nombre: </strong></label>
          <input type="text"
                 class="form-control"
                 placeholder="1er Nombre del empleado"
                 formControlName="nombreUno"
                 [class.is-invalid]="checkCampoOk('nombreUno')">
                 <div *ngIf="nombreUnoNoValido.errors && nombreUnoNoValido.touched" class="text-danger">
                  <p *ngIf="nombreUnoNoValido.hasError('required')" class="text-danger">
                    Es un campo requerido
                  </p>
                  <p *ngIf="nombreUnoNoValido.hasError('minlength')" class="text-danger">
                    Mínimo Tres Caracteres
                  </p>
                  <p *ngIf="nombreUnoNoValido.hasError('pattern')" class="text-danger">
                    Debe Ingresar Solo Letras
                  </p>
                </div>
    
        </div>
        
        <div class="form-group col">
          <label><strong> Segundo Nombre: </strong></label>
          <input type="text"
                 class="form-control"
                 placeholder="2do Nombre del empleado"
                 formControlName="nombreDos">
        </div>
      </div>

      
      <div class="row">
        <div class="form-group col">
          <label><strong> Primer Apellido: </strong></label>
          <input type="text"
                 class="form-control"
                 placeholder="1er Apellido del empleado"
                 formControlName="apellidoUno"
                 [class.is-invalid]="checkCampoOk('apellidoUno')">
                 <div *ngIf="apellidoUnoNoValido.errors && apellidoUnoNoValido.touched" class="text-danger">
                  <p *ngIf="apellidoUnoNoValido.hasError('required')" class="text-danger">
                    Es un campo requerido
                  </p>
                  <p *ngIf="apellidoUnoNoValido.hasError('minLength')" class="text-danger">
                    Mínimo Tres Caracteres
                  </p>
                  <p *ngIf="apellidoUnoNoValido.hasError('pattern')" class="text-danger">
                    Debe Ingresar Solo Letras
                  </p>
                </div>
        </div>
  
        <div class="form-group col">
          <label><strong> Segundo Apellido: </strong></label>
          <input type="text"
                 class="form-control"
                 placeholder="2do Apellido del empleado"
                 formControlName="apellidoDos">
        </div>
      </div>

      <div class="form-group">
        <label><strong> Dirección Habitación: </strong></label>
        <input type="text"
               class="form-control"
               placeholder="Dirección Habitación del empleado"
               formControlName="direccion"
               [class.is-invalid]="direccionNoValida">
               <small *ngIf="direccionNoValida" 
                      class="text-danger"> 
                  Debe Ingresar Una Dirección Válida 
               </small>
      </div>

      <div class="row">
        <div class="form-group col">
          <label><strong> Correo Electrónico: </strong></label>
          <input type="email"
                 class="form-control"
                 placeholder="Correo Electrónico del empleado"
                 formControlName="correo"
                 [class.is-invalid]="correoNoValido">
                 <small *ngIf="correoNoValido" 
                        class="text-danger"> 
                  Debe Ingresar Un Correo Válido (Ej: mail@mail.com) 
                 </small>
        </div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label><strong> Número Teléfono Celular: </strong></label>
          <input type="tel"
                 class="form-control"
                 placeholder="Número de celular del empleado"
                 formControlName="tlfCelular"
                 [class.is-invalid]="tlfCelularNoValido">
                 <small *ngIf="tlfCelularNoValido" 
                        class="text-danger"> 
                  Debe Ingresar Un Número De Celular Válido (Ej: 1234-5678901) 
                 </small>
        </div>
  
        <div class="form-group col">
          <label><strong> Número Teléfono Casa: </strong></label>
          <input type="text"
                 class="form-control"
                 placeholder="Número teléfono casa del empleado"
                 formControlName="tlfCasa">
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label><strong> En caso de Emergencia LLamar A: </strong></label>
          <input type="text"
                 class="form-control"
                 placeholder="Nombre Familiar a Contactar"
                 formControlName="casoEmergencia"
                 [class.is-invalid]="casoEmergenciaNoValido">
                 <small *ngIf="casoEmergenciaNoValido" 
                        class="text-danger"> 
                  Debe Ingresar El Nombre En Caso De Emergencia
                 </small>
        </div>
        <div class="form-group col">
          <label><strong> Número Telefónico de Emergencia: </strong></label>
          <input type="text"
                 class="form-control"
                 placeholder="Número de Contacto del Familiar a Contactar"
                 formControlName="numEmergencia"
                 [class.is-invalid]="numEmergenciaNoValido">
                 <small *ngIf="numEmergenciaNoValido" 
                        class="text-danger"> 
                  Debe Ingresar El Número De Teléfono En Caso De Emergencia
                 </small>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group col">
          <label ><strong> Fecha de Ingreso: </strong></label>
          <input type="date"
                 class="form-control"
                 placeholder="Fecha de ingreso"
                 formControlName="fechaIngreso"
                 [class.is-invalid]="fechaIngresoNoValido">
                 <small *ngIf="fechaIngresoNoValido" 
                        class="text-danger"> 
                  Debe Ingresar Fecha De Ingreso
                 </small>
        </div>
  
        <div class="form-group col">
          <label><strong> Fecha de Egreso: </strong></label>
          <input type="date"
                 class="form-control"
                 placeholder="Fecha de egreso"
                 formControlName="fechaEgreso">
        </div>
      </div>

      <div class="form-group">
        <label><strong> Estado: </strong></label>
        <select class="custom-select form-control" formControlName="estado">
          <option value="Activo"> Activo </option>
          <option value="Vacaciones"> Vacaciones </option>
          <option value="Licencia"> Licencia </option>
          <option value="Inactivo"> Inactivo </option>
        </select>
      </div>

      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Cargar Fotografía</label>
      </div>
      
      <div class="form-group text-center" [formGroup]="forma">
        <button *ngIf="!empleado.id" class=" btn btn-outline-primary btn-lg mt-5 mr-4" type="submit">
          <i class="fa fa-save"></i>
          Guardar
        </button>

        <button *ngIf="empleado.id" class=" btn btn-outline-success btn-lg mt-5" type="submit">
          <i class="fa fa-save"></i>
          Actualizar
        </button>
      </div>

    </form>

  </div>
</div>

