<h2 class="text-center">Registro De Usuario</h2>
<hr />


<div class="row text-right">
  <div class="col">
    <button class="btn btn-primary" 
            routerLink="/login">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<div class="contenedorForm">
  
    <form class="fomularioRegistro">
  
      <div id="correRegistro">
        <div>
          <label> Correo Electrónico </label>

        </div>
        <input type="email" name="" placeholder="E-MAIL">
      </div>
  
      <div>
        <label> Nombre </label>
        <input type="text" name="" placeholder="Nombre">
      </div>

      <div>
        <label> Apellido </label>
        <input type="text" name="" placeholder="Apellido">
      </div>
  
      <div>
        <label> Contraseña </label>
        <input type="password" name="" placeholder="Contraseña">
      </div>

      <div class="registro">

        <div id="botonRegistro">
          <button class="btn btn-outline-primary" type="submit">
            Crear Cuenta
          </button>
        </div>

      </div>
  
    </form>

  </div>


